body {
    background-color: black;
    color: #F9FAF8;
    font-family: 'Roboto', sans-serif;
}

.navigation {
    background-color: #1F2937;
    width: 65vw;
    border: 1px solid white;
    display: flex;
    margin-left: 15vw;
    height: 30px;
    line-height: 30px;
}

.navigation div {
    flex: 1;
    border: 1px solid white;
    height: 30px;
}

.header.logo {
    flex: 4;

}

