#wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    position:fixed;
    display: flex;
    height: 100%;
    background-color: #1F2937;
    left: 50%;
    transform: translateX(-50%);
}
body {
    background-color: black;
    color: #F9FAF8;
    font-family: 'Roboto', sans-serif;
}

.navigation {
    
    width: 1000px;
    height: 30px;
    line-height: 30px;
    display: flex;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    
    
}

.navigation div {
    height: 30px;
}

.header.logo {
    position: fixed;
    left: 10%;
}

.header.link1 {
    position: fixed;
    right: 40%;
    font-size: 12px;
}

.header.link2 {
    position: fixed;
    right: 28%;
    font-size: 12px;
}

.header.link3 {
    position: fixed;
    right: 15%;
    font-size: 12px;
}

.herotext {
    position: fixed;
    display: flex;
    left: 19%;
    transform: translateX(-50%);
    top: 3%;
    font-size: 48px;
    font-weight: extra-bold;

}

.herosubtext {
    position: fixed;
    left: 40%;
    transform: translateX(-50%);
    top: 8%;
}
