body {
    background-color: black;
    color: #F9FAF8;
    font-family: 'Roboto', sans-serif;
}

.navigation {
    background-color: #1F2937;
    width: 65vw;
    height: auto;
    max-height: 5vh;
    border: 1px solid white;
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
    margin-left: 15vw;
}

.header.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bolder;
    width: 15vw;
    border: 1px solid white;
    align-self: flex-start;
    margin-right: 22vw;
}

.link {
    align-self: center;
}

.hero.box {
    background-color: #1F2937;
    width: 65vw;
    top: 6vh;
    border: 1px solid white;
    display: flex;
    flex-wrap: wrap;
    margin-left: 15vw;
    height: 25vh;
}

.hero.text {
    border: 1px solid white;
    width: 30vw;
    gap: 5px;
}